.botaoFormulario {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  min-width: 150px;
}

.botaoFormulario.salvar {
  background-color: #9ad39a; 
  border: 3px solid #1e4206;
  color: #021a06;
  border-radius: 10px;
}

.botaoFormulario.salvar:hover {
  background-color: #cfcfcf;
}

.botaoFormulario.cancelar {
  background-color: #ffa297; 
  border: 3px solid #330404;
  border-radius: 10px;
  color: #000;
}

.botaoFormulario.cancelar:hover {
  background-color: #f08080;
}

.botaoFormulario:disabled {
  background-color: #999;
  cursor: not-allowed;
}