.headerPrincipal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0a0a2a; 
  color: white;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #2c2c54;
  box-shadow: #3a86dd 0px 4px 6px -1px, #3a86dd 0px 2px 4px -1px;
}

.logoImagem {
  height: 20px;
  width: auto;  
  display: block; 
}

/* Links principais */
.navegacaoPrincipal a {
  position: relative;
  color: #ccc;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Hover */
.navegacaoPrincipal a:hover {
  color: white;
}

/* Linha animada */
.navegacaoPrincipal a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color:#9A8AD7;
  transition: width 0.3s ease;
}

.navegacaoPrincipal a.active::after {
  width: 100%;
}


.botoesAutenticacao {
  display: flex;
  gap: 1rem;
}

.botoesAutenticacao .botaoIcone {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  gap: 0.25rem;            
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.iconeAutenticacao {
  width: 31px;
  height: 31px;
}
.botoesAutenticacao .botaoIcone:hover {
  color: white;
}