.secaoFilmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #DBD6EE;
    padding: 1rem 0;
}

.tituloSecao {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.listaFilmes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-items: center;
}