.cardFilme {
  display: flex;
  flex-direction: column;
  background-color: #0F0F2A;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  width: 100%;
  border: 1px solid #3b5998;
  height: 100%; 
}


.cardPoster {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block; 
}


.cardInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.cardTitulo {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDetalhe {
  font-size: 1rem;
  color: #ffffff;
  margin: 0.25rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDetalhe:last-of-type {
  margin-bottom: 1rem;
  flex-grow: 1; 
}