.paginaAdicionarFilme {
  background-color: #f7f7f7ec;
  padding: 3rem 0;
  font-family: Arial, sans-serif;
}

.containerFormulario {
  background: #101470; 
  background: linear-gradient(to right, #101470 28%, #0D0F3F 100%);
  max-width: 800px;
  height: 800px;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  border-radius: 20px;
}

.headerFormulario {
  text-align: center;
  color: white;
  margin-bottom: 2.5rem;
}

.headerFormulario h1 {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.headerFormulario p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
  text-transform: uppercase;
}

.formAdicionar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formInputContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.numeroInput {
  background-color: #011424;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.inputCampo {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0.5rem;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #333;
  width: 100%;
}

.inputCampo::placeholder {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}

.inputCampo:focus {
  box-shadow: none;
  background-color: #dfdfe6
}

.containerBotoes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.2rem;
}

.mensagemErroForm {
  color: #3f0104;
  background-color: #FFD2D2;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8rem;
  font-weight: bold;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


.inputCampo[type=number]::-webkit-inner-spin-button, 
.inputCampo[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inputCampo[type=number] {
  -moz-appearance: textfield; 
}
